* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: linear-gradient(45deg, hsl(110, 100%, 6%), hsl(130, 100%, 8%));
  font-family: system-ui, sans-serif;
  font-size: 1.125rem; /* 18px */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  padding: 0.5rem 0;
}

ul {
  list-style: none;
}

a {
  font-size: 1.5rem;
  display: block;
  padding: 0.25rem 1rem;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-weight: medium;
}

h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 1rem;
}
/* --------------------------------

Component 

-------------------------------- */
.navbar {
  margin: auto;
  display: flex;
  justify-content: center;
}

.inactive {
  visibility: hidden;
}

.underline {
  height: 0.1rem;
  border-radius: 1rem;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
}

.center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;

}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
/* Hide the default checkbox */
.checkbox-container input[type="checkbox"] {
  display: none;
}

/* Create a custom checkbox */
.checkbox-container input[type="checkbox"] + .checkbox-text:before {
  content: "";
  display: inline-block;
  position: relative;
  width: 100px;
  height: 20px;
  margin-right: 10px;
  background-color: #fff;
  border: 2px solid #000;
}

/* Style the custom checkbox when checked */
.checkbox-container input[type="checkbox"]:checked + .checkbox-text:before {
  background-color: #000;
}

.checkbox-text {
  position: absolute;
}

/* --------------------------------
.scroller ._inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.scroller[data-scroll="true"] {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.scroller[data-scroll="true"]::-webkit-scrollbar {
  display: none;
}
