* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: linear-gradient(135deg, #000000 0%, #041506 50%, #000000 100%);
  font-family: system-ui, sans-serif;
  font-size: 1.125rem; 
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 5rem;
  overflow: hidden;
}

i {
  pointer-events: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar {
  margin: auto;
  display: flex;
  justify-content: center;
}

nav {
  padding: 0.5rem 0;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.underline {
  height: 0.1rem;
  border-radius: 1rem;
  width: 100%;
  background-color: white;
}

ul {
  list-style: none;
}

a {
  font-size: 1.5rem;
  display: block;
  padding: 0.25rem 1rem;
  color: white;
  text-decoration: none;
  font-weight: medium;
}

h1 {
  font-size: 3rem;
  color: #ffffff;
  font-family: "Rokkitt";
  line-height: 1.75rem;
}

h2 {
  font-size: 2rem;
  color: #ffffff;
  white-space: nowrap;
  font-family: "Rokkitt";
  margin-top: 2rem;
  width: 100%;
  text-align: left;
}

h3 {
  font-size: 1.5rem;
  color: #9999a2;
  font-family: "Rokkitt";
  line-height: 1rem;
}

p {
  margin-top: 1rem;
  font-size: 1.125rem;
  color: white;
  font-family: "Rokkitt";
}

/* --------------------------------

Component 

-------------------------------- */
.hero {
  margin-top: 3rem;
  overflow-y: scroll;
}

.hero::-webkit-scrollbar {
  width: 0px;
}

.no-movies {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.no-movies h1{
  text-align: center;
}

.to-quiz {
  background-color: transparent;
  position: relative;
  z-index: 1;
  border: 1px solid #ffffff;
  color: white;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  pointer-events: all;
}

.no-movies h3 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.to-quiz:hover {
  transform: scale(1.2);
}


.inactive {
  visibility: hidden;
}

.movie-element {
  height: fit-content;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 5s;
}

.checked{
  background-color: #004d04;
  color: #43ff43;
  transition: all 0.5s;
  
}

.line {
  height: 0.1rem;
  border-radius: 10rem;
  width: 100%;
  background-color: #ffffff;
  pointer-events: none;
}

.movie-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.movie-details h1 {
  transform: translateY(0);
  transition: all 0.5s;
}
.text {
  margin-right: 1rem;
  pointer-events: none;
}
.movie-details p {
  display: none;
}
.cover {
  width: auto;
  height: 10rem;
  object-fit: cover;
  border-radius: 12px;
  position: relative;
  display: none;
}
.titolo{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.check-button{
  display: none;
  transition: all 0.5s;
  z-index: 10;
  pointer-events: all;
  position: relative;
  color: white;
}

.check-button:hover{
  transform: scale(1.1);
  transition: all 0.5s;
  color: #43ff43;
  ;
}

@media (max-width: 1200px) {

  
}